{% extends "calculos/base.html" %}

{% block content %}
<h2>Créditos</h2>

<h3>Desarrollado para la asignatura de Química aplicada a la Ingeniería, por:</h3>
<ul>
  <li>Paulina Godoy</li>
  <li>Elias Orellana</li>
  <li>Girla Viñossa</li>
  <li>Paolo Asensio</li>
  <li>Esteban Molina</li>
  <li>Luciano Martinez</li>
  
</ul>

<h3>Referencias bibliográficas:</h3>
<ul>
  <li>Chang, R., & Goldsby, K. (2016). *Química*. McGraw-Hill Education.</li>
  <li>Petrucci, R. H., Herring, F. G., Madura, J. D., & Bissonnette, C. (2017). *Química general*. Pearson Educación.</li>
  <li>IUPAC. (2023). *Atomic weights of the elements 2023*. https://iupac.org</li>
  <li>Documentación de las librerías:
    <ul>
      <li><a href="https://pythonhosted.org/periodictable/" target="_blank">periodictable</a></li>
      <li><a href="https://pypi.org/project/pyvalem/" target="_blank">pyvalem</a></li>
    </ul>
  </li>
</ul>
{% endblock %}